<?xml version="1.0" encoding="UTF-8"?>
<?define Name = "Unciv" ?>
<?define InstallFolder = "Unciv" ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Language="1033"
             Manufacturer="Yair Morgenstern"
             Name="$(var.Name)"
             Version="4.12.13"
            UpgradeCode="74d42802-054a-4869-a703-658c361fe94c">
        <Icon Id="icon.ico" SourceFile="files/Unciv.ico"/>

        <DirectoryRef Id="INSTALLFOLDER">
          <Component Id="Unciv">
            <File Id="UncivExe"
                  KeyPath="yes"
                  Checksum="yes"
                  Source="files/Unciv.exe">
            </File>
          </Component>
        </DirectoryRef>
    
        <ComponentGroup Id="UncivFiles" Directory="INSTALLFOLDER">
            <Files Include="files\**" />
        </ComponentGroup>


        <Component Id="UncivShortcuts" Directory="INSTALLFOLDER">
          <Shortcut Id="StartMenuShortcut"
                    Name="$(var.Name)"
                    Target="[#UncivExe]"
                    Icon="icon.ico"
                    Directory="ApplicationProgramsFolder"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="CleanupStartMenuShortcut"
                        Directory="ApplicationProgramsFolder"
                        On="uninstall" />
        </Component>
    
        <Feature Id="ProductFeature" Title="$(var.Name)" Level="1" ConfigurableDirectory="INSTALLFOLDER">
            <ComponentGroupRef Id="UncivFiles" />
            <ComponentRef Id="UncivShortcuts" />
        </Feature>
    

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="$(var.InstallFolder)" />
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="$(var.InstallFolder)" />
        </StandardDirectory>

    </Package>
</Wix>
